<p style="color: green"><%= notice %></p>

<h1>Pages</h1>

<div id="pages">
  <% @cms_pages.each do |cms_page| %>
    <%= render partial: "cms_pages/cms_page", locals: { page: cms_page } %>
    <p>
      <%= link_to "Show this page", cms_page %>
    </p>
  <% end %>
</div>


<%= link_to "New page", new_page_path %>
