<h1>Editing mental service</h1>

<%= render "form", mental_service: @mental_service %>

<br>

<div>
  <%= link_to "Show this mental service", @mental_service %> |
  <%= link_to "Back to mental services", mental_services_path %>
</div>
