<div id="<%= dom_id page_section %>">
  <p>
    <strong>Page:</strong>
    <%= cms_page_section.pageid %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= cms_page_section.sectionid%>
  </p>

  <!-- Add any other details you want to display from cms_page or cms_section -->
</div>
