<div id="<%= dom_id page_section %>">
  <p>
    <strong>Page:</strong>
    <%= page_section.cms_page.pagename %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= page_section.cms_section.section_name %>
  </p>

  <!-- Add any other details you want to display from cms_page or cms_section -->
</div>
