<div id="<%= dom_id page_section %>">
  <p>
    <strong>Sectioncomponent:</strong>
    <%= page_section.SectionComponent %>
  </p>

  <p>
    <strong>Cmsvalue:</strong>
    <%= page_section.CMSValue %>
  </p>

</div>
