<h1>Editing page section</h1>

<%= render "form", page_section: @page_section %>

<br>

<div>
  <%= link_to "Show this page section", @page_section %> |
  <%= link_to "Back to page sections", page_sections_path %>
</div>
