<% if filter == 'home_page_hero_arabic' %>
  <h3>Title Page Section: Home Page Hero Section Arabic</h3>
  <% CmsValue.where(pagesectionid: 1, languageid: 1).each do |cms_value| %>
    <div>
      <strong><%= cms_value.cms_section_component.cms_component.componentname %>:</strong>
      <%= cms_value.value %>
      <!-- Implement inline editing functionality here -->
    </div>
  <% end %>
<% end %>