<% if @cms_components.present? %>
  <% @cms_components.each do |cms_component| %>
    <%= render cms_component %>
    <p>
      <%= link_to "Show this component", cms_component %>
    </p>
  <% end %>
<% else %>
  <p>No components available.</p>
<% end %>
