<!-- app/views/cms_languages/_language.html.erb -->
<div id="<%= dom_id language %>">
  <p>
    <strong>Pagesection:</strong>
    <%= language.PageSection %>
  </p>

  <p>
    <strong>Sectioncomponent:</strong>
    <%= language.SectionComponent %>
  </p>

  <p>
    <strong>Cmsvalue:</strong>
    <%= language.CMSValue %>
  </p>
</div>
