// app/assets/stylesheets/active_admin.scss

@import "active_admin/mixins";
@import "active_admin/base";
.dynamic-cms-values {
  .cms-value-entry {
    margin-bottom: 10px;
    label {
      margin-right: 10px;
    }
    input[type="text"] {
      margin-right: 10px;
    }
  }
}
