<p style="color: green"><%= notice %></p>

<h1>Cmses</h1>

<div id="cmses">
  <% @cmses.each do |cms| %>
    <%= render partial: 'cmses/cms', locals: { cms: cms } %>
    <p>
      <%= link_to "Show this cms", cmse_path(cms) %>
    </p>
  <% end %>
</div>

<%= link_to "New cms", new_cmse_path %>
