<div id="<%= dom_id section_component %>">
  <p>
    <strong>Section:</strong>
    <%= cms_section_component.sectionid %>
  </p>

  <p>
    <strong>Component:</strong>
    <%= cms_section_component.componentid %>
  </p>
</div>
