<h1>Editing section component</h1>

<%= render "form", section_component: @section_component %>

<br>

<div>
  <%= link_to "Show this section component", @section_component %> |
  <%= link_to "Back to section components", section_components_path %>
</div>
