<h1>Editing news event</h1>

<%= render "form", news_event: @news_event %>

<br>

<div>
  <%= link_to "Show this news event", @news_event %> |
  <%= link_to "Back to news events", news_events_path %>
</div>
