<h1>Editing treatment approach</h1>

<%= render "form", treatment_approach: @treatment_approach %>

<br>

<div>
  <%= link_to "Show this treatment approach", @treatment_approach %> |
  <%= link_to "Back to treatment approaches", treatment_approaches_path %>
</div>
